<%- include ("../partials/header") %>
<div class="container">
  <header class="jumbotron">
    <div>
      <h1>Welcome to Himachal Undiscovered!</h1>
      <p>Explore the most beautiful locations in Himachal...</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new place</a>
      </p>
      <p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-row">
          <div class="col">
            <input type="text" name="search" class="form-control" placeholder="Search places">
          </div>
          <div class="col">
            <input type="submit" value="Search" class="btn btn-outline-dark">
          </div>
        </div>
      </form>
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <h3>Some of the most serene locations:</h3>
    </div>
  </div>

  <div class="row text-center">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= campground.name %></h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p> -->
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-primary">
            More Info
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm5.646 10.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include ("../partials/footer") %>