<%- include ("../partials/header") %>

<div class="container">
  <header class="jumbotron">
    <div>
      <h1>Welcome to YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
      </p>
      <p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-row">
          <div class="col">
            <input type="text" name="search" class="form-control" placeholder="campground search....">
          </div>
          <div class="col">
            <input type="submit" value="Search" class="btn btn-outline-dark">
          </div>
        </div>
      </form>
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <h3>Our Most Popular campgrounds</h3>
    </div>
  </div>

  <div class="row text-center">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= campground.name %></h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p> -->
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info...</a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include ("../partials/footer") %>